# Flask
FLASK_SECRET_KEY=change-this-to-a-long-random-value

HOST=0.0.0.0

PORT=5000


# GitHub automatic push

GITHUB_AUTO_PUSH=true


# IMPORTANT:
# Do NOT put your GitHub password or Personal Access Token here.
#
# Configure Git authentication separately using:
#
# Git Credential Manager
#
# OR
#
# SSH authentication.

